main {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width:50%;
    justify-self: center;
}

main:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg,#feb47b,#ff7e5f);
}

.merkezi {
    
    margin: auto;
    background-color: #0f0f0b;
  }

  div {
    color:black;
    width:300px;
    margin: auto;
    background-color: #0f0f0b;
  }

  .mycontainer {
    width:100%;
    overflow:auto;
  }
  .mycontainer div {
    width:33%;
    float:left;
    color:rgb(122, 12, 12);
  }